
.expand-panel {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.05);
}

.expand-title{
    color: white;
    font-size: 1.3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .5rem;
}

.expand-title p {
    margin: 0;
}

.expand-content {
    color: white;
    padding: .5rem;
}

.close-content {
    display: none;
}

.down-icon {
    transform: rotate(180deg);
}

.up-icon {
    transform: rotate(360deg);
}