.menu-layout{
    display: flex;
    flex-direction: row;
}

.display-menu-none{
    display: noe
}

.display-menu-list{
    display: flex;
    flex-direction: column;
}

.display-menu{
    display: flex;
}
