.select-method {
  width: 100%;
  background-color: #1f2937;
  border: 1px solid rgba(255, 255, 255, 0.05);
  padding: 0.6rem 0.75rem;
  border-radius: 0.5rem;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: border .2s ease, box-shadow .2s ease;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.select-method:focus {
  outline: none;
  border-color: #63b3ed;
  box-shadow: 0 0 0 2px rgba(99, 179, 237, 0.3);
}