.div-close {
    display: none;
}

.container-snackbar {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 2rem 1rem;
}

.snackbar-content{
    min-width: 10rem;
    color: #f6f6f6;
    background-color: #1e2326;
    padding: .2rem;
    border-radius: .5rem;
}

.snack-title{
    margin: 0.1rem;
    font-weight: 500;
    font-size: 1.2rem;
}

.snack-content{
    margin: 0.1rem;
    font-size: 1rem;
}